<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z32GEQ5MEH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Z32GEQ5MEH');
</script>
<body>
    
    <div class="page-wrap">
        {% include header.html %}
        <main>
            {{ content }}
        </main>
    </div>
    
    {% include footer.html %}

    <script src="/assets/js/vendor/jquery.min.js"></script>
    <script src="/assets/js/vendor/semantic.min.js"></script>
    <script type="/assets/js/main.js"></script>
</body>

</html>
